@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
}
input:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
hr {
  width: 80%;
  margin: auto;
}
#main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.blur {
  filter: blur(5px);
}
#chat_user_list {
  width: 25%;
}

#chatbox {
  width: 75%;
  transition: all 0.2s;
}
#details_of_user {
  width: 0%;
  transition: all 0.2s;
}
#owner_profile_details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
#owner_avtar {
  position: relative;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  margin: 10px 10px 10px 25px;
}
#owner_avtar #online {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background-color: #5bde4d;
  bottom: 0;
  right: 0;
  border: 2px solid white;
}
#owner_profile_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#bio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
#bio i {
  margin-left: 10px;
}
#bio i:hover {
  cursor: pointer;
}
#chat_user_list {
  height: 100vh;
  background-color: #f5f6fa;
  overflow-y: scroll;
}
#user_details #message {
  font-size: 15px;
}
#time {
  font-size: 14px;
}
#chat_user_list::-webkit-scrollbar {
  display: none;
}

#update_container {
  position: absolute;
  width: 28%;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
}
#update_container form {
  padding: 10px;
}
#update_container i {
  float: right;
  cursor: pointer;
}
#update_container #update_bio {
  width: 100%;
  height: 100px;
  resize: none;
  border-style: none;
  outline: none;
  background-color: #f5f6fa;
  border-radius: 5px;
  padding: 10px;
}
#update_btn {
  background-color: #157dff;
  color: white;
}
#search_box_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search_box_container #search {
  width: 90%;
  border-style: none;
  border-radius: 20px;
  padding-left: 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}
.user:hover {
  background-color: white;
}
.active {
  background-color: white;
}
#user_avtar {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  position: relative;
}
#online {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background-color: #5bde4d;
  bottom: 0;
  right: 0;
  border: 2px solid white;
}
#avtar_and_details {
  display: flex;
  align-items: center;
}
#user_details {
  margin-left: 5px;
}
#chatbox {
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#data_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bg_image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.chatting_section {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#header {
  width: 100%;
  height: 12%;
  background-color: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white;
}
#name_details {
  display: flex;
  align-items: center;
}
#chat_profile_image {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
#name_last_seen p {
  font-size: 13.5px;
}
#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  /* background:black; */
}
#icons div i {
  padding-right: 10px;
}
#icons div i {
  cursor: pointer;
  /* color: #AFAFAF; */
}
#icons div i:hover {
  color: rgba(0, 0, 0, 0.5);
}
#messageBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#textBox_attachment_emoji_container {
  width: 90%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f5f6fa;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
#text_box_message {
  width: 92%;
}
#messageText {
  border-style: none;
  padding-left: 15px;
  background-color: transparent;
}
#messageText:focus {
  outline: none !important;
  box-shadow: none !important;
}
#text_counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
#sendButtonContainer {
  width: 8%;
  justify-content: center;
  display: flex;
  align-items: center;
}
#sendButtonContainer .btn {
  background-color: #157dff;
  color: white;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 6px #157dff;
}

#chat_message_area {
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}
#chat_message_area::-webkit-scrollbar {
  display: none;
}
#sender_msg_container {
  margin: 5px 0px;
  display: flex;
  justify-content: flex-start;
}
#receiver_msg_container {
  margin: 5px 0px;
  display: flex;
  justify-content: flex-end;
}
#sender_image,
#receiver_image {
  height: 40px;
  width: 40px;
  margin: 0px 5px;
  border-radius: 100%;
}
#chat_message_area #sender_msg {
  max-width: 50%;
  width: fit-content;
  height: fit-content;
  word-wrap: break-word;
  border-radius: 3px 15px 15px 15px;
  background-color: #ebf3fd;
}
#chat_message_area #sender_msg p {
  text-align: justify;
  padding: 5px 20px 5px 20px;
  font-size: 16px;
}
#chat_message_area #receiver_msg {
  max-width: 50%;
  width: fit-content;
  word-wrap: break-word;
  height: fit-content;
  border-radius: 15px 3px 15px 15px;
  background-color: #157dff;
  color: white;
}
#chat_message_area #receiver_msg p {
  text-align: justify;
  padding: 5px 20px 5px 20px;
  font-size: 16px;
}
#not_message_yet {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#not_message_yet div {
  height: 55%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#not_message_yet div div {
  height: 150px;
  width: 150px;
  background-size: 100% 100%;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#not_message_yet div p,
h4 {
  margin: 5px;
}
#details_of_user {
  background-color: #f5f6fa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#user_details_container_avtar {
  height: 150px;
  width: 150px;
  margin: 5%;
  border-radius: 100%;
}
#user_details_container_details {
  height: fit-content;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#details_of_name,
#details_of_bio {
  word-wrap: break-all;
}
#details_of_email,
#details_of_created,
#details_of_birthday,
#details_of_location,
#details_of_mobile {
  word-break: break-all;
  margin: 10px 0;
  padding: 0;
  font-size: 14px;
}
#btn_block {
  /* background-color:#157DFF; */
  color: white;
  border-radius: 20px;
  width: fit-content;
  margin: 15px 0px;
}
